#myPicture{
    width: 12.5rem;
    border: black solid 4px;
    border-radius: 6rem;
}

#customNavbar{
    background-color: rgb(134, 195, 239); 
    border-radius: 18px; 
}

#mainFooter{
    background-color: antiquewhite;
}

#headerRound{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 1rem;
}

.dark-mode {
    background-color: black;
    color: white;
}

#cardImage {
    border: white solid 2px;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
}